// Color Sass variables

$color-primary-orange: #ff7d1a;
$color-primary-pl-orange: hsl(25, 100%, 94%);

$color-neutral-vry-drk-blue: hsl(220, 13%, 13%);
$color-neutral-drk-gry-blue: hsl(219, 9%, 45%);
$color-neutral-gry-blue: hsl(220, 14%, 75%);
$color-neutral-white: hsl(0, 0%, 100%);
$color-neutral-black: hsl(0, 0%, 0%);

// Breakpoint Sass variables

$breakpoint-mobile: 37.5em;
$breakpoint-desktop: 90em;
$breakpoint-desktop-medium: 105em;
$breakpoint-desktop-large: 120em;
$breakpoint-desktop-xlarge: 160em;
